* {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  top: 0;
}
.el-menu-item-group__title{
    padding: 0px !important;
}
.barcss{
  width: 20%;
  height: 100%;
}
.wfdcss{
  width: 80%;
  height: 100%;
  overflow: auto;
}